<VirtualHost *:80>
    ServerName {{ exact_domain_name_can_be_a_sub_domain }}

    ProxyPreserveHost On
    ProxyPass / http://localhost:{{ http_port }}/
    ProxyPassReverse / http://localhost:{{ http_port }}/

    ErrorLog ${APACHE_LOG_DIR}/fj-error.log
    CustomLog ${APACHE_LOG_DIR}/fj-access.log combined
</VirtualHost>
