server {
    listen 80;
    server_name {{ exact_domain_name_can_be_a_sub_domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ exact_domain_name_can_be_a_sub_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ exact_domain_name_can_be_a_sub_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ exact_domain_name_can_be_a_sub_domain }}/privkey.pem;

    location / {
        proxy_pass http://localhost:{{ http_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
